[submodule "ext/args"]
	path = ext/args
	url = https://github.com.cnpmjs.org/Taywee/args.git
[submodule "ext/gemini"]
	path = ext/gemini
	url = https://github.com.cnpmjs.org/thu-pacman/GeminiGraph.git
[submodule "ext/gtest"]
	path = ext/gtest
	url = https://github.com.cnpmjs.org/google/googletest.git
